@media screen and (min-width: 768px) {
    #menu-button {
        display: none;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        position: static;
        background: none;
    }

    nav ul li a {
        padding: 0 1rem;
    }

    .card-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .hero {
        height: 450px;
    }

    .hero h2 {
        font-size: 3rem;
    }
}

@media screen and (min-width: 1024px) {
    .card-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}
