@media (min-width: 768px) {
    nav {
        display: flex !important;
        flex-direction: row;
        gap: 15px;
    }

    #menu-toggle {
        display: none;
    }

    header {
        justify-content: space-around;
    }
}